[user]
	name = Rahat Zaman
	email = rahatzamancse@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDIUPZ5/jQPzt63sH+I4IWSaAaTo1cAzFHF6cPNsl4PB rahatzamancse@gmail.com
[difftool]
	prompt = false
{{ if lookPath "meld" -}}
[diff]
	tool = meld
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
{{ end -}}
[gpg]
	format = ssh
[commit]
	gpgsign = true
{{ if stat (joinPath .chezmoi.homeDir ".ssh" "bw-ssh-sign.sh") -}}
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
	program = ~/.ssh/bw-ssh-sign.sh
{{ end -}}
[includeIf "gitdir:~/prapti/"]
    path = ~/prapti/.gitconfig
