{{ if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
Host *
    UseKeychain yes
    AddKeysToAgent yes
{{ end }}

Host github_rahat github_prapti
	HostName github.com
	User git
	IdentitiesOnly yes

Host github_rahat
	IdentityFile ~/.ssh/github_rahat
	IdentityFile ~/.ssh/rahat_commit

Host github_prapti
	IdentityFile ~/.ssh/github_prapti

Host insane-homelab
	User root
